# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/

# Database files
*.db
*.sqlite3

# IDE / OS specific
.idea/
.vscode/
.DS_Store

# Large files / Sensitive data
*.deb
.env
frontend/config.js
